In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from IPython.display import display

%matplotlib inline

names = list('Input {}'.format(i) for i in range(1,17))
names.append('class')

train = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/pendigits/pendigits.tra', names = names)
test = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/pendigits/pendigits.tes', names = names)
train_data = train.drop('class', axis = 1)
train_class = train['class']
test_data = test.drop('class', axis = 1)
test_class = test['class']

In [2]:
#Train data
train.head()

,Input 1,Input 2,Input 3,Input 4,Input 5,Input 6,Input 7,Input 8,Input 9,Input 10,Input 11,Input 12,Input 13,Input 14,Input 15,Input 16,class
0,47,100,27,81,57,37,26,0,0,23,56,53,100,90,40,98,8
1,0,89,27,100,42,75,29,45,15,15,37,0,69,2,100,6,2
2,0,57,31,68,72,90,100,100,76,75,50,51,28,25,16,0,1
3,0,100,7,92,5,68,19,45,86,34,100,45,74,23,67,0,4
4,0,67,49,83,100,100,81,80,60,60,40,40,33,20,47,0,1

In [3]:
#Test data
test.head()

,Input 1,Input 2,Input 3,Input 4,Input 5,Input 6,Input 7,Input 8,Input 9,Input 10,Input 11,Input 12,Input 13,Input 14,Input 15,Input 16,class
0,88,92,2,99,16,66,94,37,70,0,0,24,42,65,100,100,8
1,80,100,18,98,60,66,100,29,42,0,0,23,42,61,56,98,8
2,0,94,9,57,20,19,7,0,20,36,70,68,100,100,18,92,8
3,95,82,71,100,27,77,77,73,100,80,93,42,56,13,0,0,9
4,68,100,6,88,47,75,87,82,85,56,100,29,75,6,0,0,9

In [4]:
display(train_data.describe())

,Input 1,Input 2,Input 3,Input 4,Input 5,Input 6,Input 7,Input 8,Input 9,Input 10,Input 11,Input 12,Input 13,Input 14,Input 15,Input 16
count,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000,7494.000000
mean,37.384307,84.679343,40.005604,82.889512,50.878303,65.044436,51.471844,44.599680,57.129971,34.069122,61.417401,35.782092,54.699760,35.800774,46.813718,28.565386
std,33.322024,16.848420,26.256025,19.638582,34.927201,27.377341,30.680075,30.659478,33.680340,27.459989,37.130762,27.495836,22.599781,33.223611,41.531794,35.811094
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,76.000000,20.000000,70.000000,17.000000,48.000000,28.000000,22.000000,30.000000,7.000000,25.000000,12.000000,41.000000,7.000000,0.000000,0.000000
50%,31.000000,89.000000,39.000000,89.000000,56.000000,71.000000,54.000000,42.000000,60.000000,33.000000,74.000000,32.000000,53.000000,28.000000,39.000000,8.000000
75%,61.000000,100.000000,58.000000,100.000000,81.000000,86.000000,75.000000,65.000000,88.000000,55.000000,98.000000,57.000000,69.000000,48.000000,100.000000,51.000000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [5]:
seed = 0

X_train, X_val, y_train, y_val = train_test_split(train_data, train_class, test_size = 0.2, random_state = seed)

In [77]:
from sklearn.neighbors import KNeighborsClassifier, NearestCentroid
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from helper import train_predict

clf_A = KNeighborsClassifier()
clf_B = LogisticRegression(random_state = seed)
clf_C = MLPClassifier(random_state = seed)
clf_

models = [clf_A, clf_B, clf_C]

train_predict(train_data, test_data, train_class, test_class, models)

Results for KNeighborsClassifier:
Accuracy = 0.9760
Confusion matrix:
[[354   0   0   0   0   0   7   0   2   0]
 [  0 347  15   0   1   0   0   1   0   0]
 [  0   2 362   0   0   0   0   0   0   0]
 [  0   1   0 333   0   0   0   0   0   2]
 [  0   0   0   0 354   9   1   0   0   0]
 [  0   0   0   6   0 328   0   0   0   1]
 [  0   0   0   0   0   0 336   0   0   0]
 [  0  15   1   0   0   0   0 347   1   0]
 [  1   0   0   0   0   1   0   0 334   0]
 [  0   2   0   9   0   1   0   4   1 319]]
Results for LogisticRegression:
Accuracy = 0.8902
Confusion matrix:
[[319   1   0   0   1   0   0   0  42   0]
 [  0 281  21   0   1  60   0   1   0   0]
 [  0   6 356   0   0   2   0   0   0   0]
 [  0   2   0 329   1   0   0   2   0   2]
 [  0   1   0   0 344   9   0   0   0  10]
 [  0   4   0  11   0 278   0   0   4  38]
 [  0   0   0   0   0   2 324   0  10   0]
 [  0  33   3   0  15   5   2 300   6   0]
 [ 10   0   0   0   0  23   0   0 302   1]
 [  0  42   0   4   0   7   0   1   1 281]]
Results for MLPClassifier:
Accuracy = 0.9666
Confusion matrix:
[[344   0   0   0   0   0   0   0  19   0]
 [  0 357   5   0   2   0   0   0   0   0]
 [  0   6 350   0   3   0   0   4   1   0]
 [  0   2   0 332   1   1   0   0   0   0]
 [  0   0   0   0 351   8   0   0   0   5]
 [  0   0   0   4   0 326   0   1   0   4]
 [  1   0   0   0   3   1 324   0   7   0]
 [  0   3   1   0  10   0   0 344   3   3]
 [  1   0   1   0   0   0   0   1 333   0]
 [  0   7   0   2   2   0   0   2   3 320]]